# Ambiente Virtual
.venv/
venv/

# Arquivos de Cache do Python
__pycache__/
*.pyc

# Arquivos de Banco de Dados
*.db
*.sqlite3

# Arquivo de variáveis de ambiente (SECRETO!)
.env

# Arquivos de IDEs (opcional, mas recomendado)
.vscode/
.idea/